# Topic Modeling Assessment Project

A dataset of over 400,000 quora questions that have no labeled cateogry, and attempting to find 20 cateogries to assign these questions to. The .csv file of these text questions can be found underneath the Topic-Modeling folder.

####  Import pandas and read in the quora_questions.csv file.

In [23]:
import pandas as pd
import numpy as np

In [24]:
data = pd.read_csv('quora_questions.csv',sep = ',')

In [27]:
data.columns
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 404289 entries, 0 to 404288
Data columns (total 1 columns):
Question    404289 non-null object
dtypes: object(1)
memory usage: 3.1+ MB

In [25]:
data.head()

                                            Question
0  What is the step by step guide to invest in sh...
1  What is the story of Kohinoor (Koh-i-Noor) Dia...
2  How can I increase the speed of my internet co...
3  Why am I mentally very lonely? How can I solve...
4  Which one dissolve in water quikly sugar, salt...

# Preprocessing

####  Use TF-IDF Vectorization to create a vectorized document term matrix. You may want to explore the max_df and min_df parameters.

In [28]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [43]:
tv = TfidfVectorizer(max_df=0.95,min_df=2, stop_words='english')

In [44]:
data_tran = tv.fit_transform(data['Question'])

In [45]:
data_tran

<404289x38669 sparse matrix of type '<class 'numpy.float64'>'
	with 2002912 stored elements in Compressed Sparse Row format>

# Non-negative Matrix Factorization

#### Using Scikit-Learn create an instance of NMF with 20 expected components. (Use random_state=42)..

In [155]:
from sklearn.decomposition import NMF

In [156]:
NMF = NMF(n_components=200, random_state=42)

In [157]:
NMF.fit(data_tran)

NMF(alpha=0.0, beta_loss='frobenius', init=None, l1_ratio=0.0, max_iter=200,
    n_components=200, random_state=42, shuffle=False, solver='cd', tol=0.0001,
    verbose=0)

NMF(alpha=0.0, beta_loss='frobenius', init=None, l1_ratio=0.0, max_iter=200,
  n_components=20, random_state=42, shuffle=False, solver='cd', tol=0.0001,
  verbose=0)

#### Print our the top 15 most common words for each of the 20 topics.

In [55]:
for index, topic in enumerate(NMF.components_):
    print(f'\nTHE TOP 15 WORDS FOR TOPIC #{index}')
    print([tv.get_feature_names()[i] for i in topic.argsort()[-15:]])
    print('\n')

THE TOP 15 WORDS FOR TOPIC #0
['thing', 'read', 'place', 'visit', 'places', 'phone', 'buy', 'laptop', 'movie', 'ways', '2016', 'books', 'book', 'movies', 'best']



THE TOP 15 WORDS FOR TOPIC #1
['majors', 'recruit', 'sex', 'looking', 'differ', 'use', 'exist', 'really', 'compare', 'cost', 'long', 'feel', 'work', 'mean', 'does']



THE TOP 15 WORDS FOR TOPIC #2
['add', 'answered', 'needing', 'post', 'easily', 'improvement', 'delete', 'asked', 'google', 'answers', 'answer', 'ask', 'question', 'questions', 'quora']



THE TOP 15 WORDS FOR TOPIC #3
['using', 'website', 'investment', 'friends', 'black', 'internet', 'free', 'home', 'easy', 'youtube', 'ways', 'earn', 'online', 'make', 'money']



THE TOP 15 WORDS FOR TOPIC #4
['balance', 'earth', 'day', 'death', 'changed', 'live', 'want', 'change', 'moment', 'real', 'important', 'thing', 'meaning', 'purpose', 'life']



THE TOP 15 WORDS FOR TOPIC #5
['reservation', 'engineering', 'minister', 'president', 'company', 'china', 'business', 'country', 'olympics', 'available', 'job', 'spotify', 'war', 'pakistan', 'india']



THE TOP 15 WORDS FOR TOPIC #6
['beginners', 'online', 'english', 'book', 'did', 'hacking', 'want', 'python', 'languages', 'java', 'learning', 'start', 'language', 'programming', 'learn']



THE TOP 15 WORDS FOR TOPIC #7
['happen', 'presidency', 'think', 'presidential', '2016', 'vote', 'better', 'election', 'did', 'win', 'hillary', 'president', 'clinton', 'donald', 'trump']



THE TOP 15 WORDS FOR TOPIC #8
['russia', 'business', 'win', 'coming', 'countries', 'place', 'pakistan', 'happen', 'end', 'country', 'iii', 'start', 'did', 'war', 'world']



THE TOP 15 WORDS FOR TOPIC #9
['indian', 'companies', 'don', 'guy', 'men', 'culture', 'women', 'work', 'girls', 'live', 'girl', 'look', 'sex', 'feel', 'like']



THE TOP 15 WORDS FOR TOPIC #10
['ca', 'departments', 'positions', 'movies', 'songs', 'business', 'read', 'start', 'job', 'work', 'engineering', 'ways', 'bad', 'books', 'good']



THE TOP 15 WORDS FOR TOPIC #11
['money', 'modi', 'currency', 'economy', 'think', 'government', 'ban', 'banning', 'black', 'indian', 'rupee', 'rs', '1000', 'notes', '500']



THE TOP 15 WORDS FOR TOPIC #12
['blowing', 'resolutions', 'resolution', 'mind', 'likes', 'girl', '2017', 'year', 'don', 'employees', 'going', 'day', 'things', 'new', 'know']



THE TOP 15 WORDS FOR TOPIC #13
['aspects', 'fluent', 'skill', 'spoken', 'ways', 'language', 'fluently', 'speak', 'communication', 'pronunciation', 'speaking', 'writing', 'skills', 'improve', 'english']



THE TOP 15 WORDS FOR TOPIC #14
['diet', 'help', 'healthy', 'exercise', 'month', 'pounds', 'reduce', 'quickly', 'loss', 'fast', 'fat', 'ways', 'gain', 'lose', 'weight']



THE TOP 15 WORDS FOR TOPIC #15
['having', 'feel', 'long', 'spend', 'did', 'person', 'machine', 'movies', 'favorite', 'job', 'home', 'sex', 'possible', 'travel', 'time']



THE TOP 15 WORDS FOR TOPIC #16
['marriage', 'make', 'did', 'girlfriend', 'feel', 'tell', 'forget', 'really', 'friend', 'true', 'know', 'person', 'girl', 'fall', 'love']



THE TOP 15 WORDS FOR TOPIC #17
['easy', 'hack', 'prepare', 'quickest', 'facebook', 'increase', 'painless', 'instagram', 'account', 'best', 'commit', 'fastest', 'suicide', 'easiest', 'way']



THE TOP 15 WORDS FOR TOPIC #18
['web', 'java', 'scripting', 'phone', 'mechanical', 'better', 'job', 'use', 'account', 'data', 'software', 'science', 'computer', 'engineering', 'difference']



THE TOP 15 WORDS FOR TOPIC #19
['earth', 'blowing', 'stop', 'use', 'easily', 'mind', 'google', 'flat', 'questions', 'hate', 'believe', 'ask', 'don', 'think', 'people']

####  Add a new column to the original quora dataframe that labels each question into one of the 20 topic categories.

In [158]:
data.head()

                                            Question  Topic
0  What is the step by step guide to invest in sh...      5
1  What is the story of Kohinoor (Koh-i-Noor) Dia...     16
2  How can I increase the speed of my internet co...     17
3  Why am I mentally very lonely? How can I solve...     11
4  Which one dissolve in water quikly sugar, salt...     14

In [159]:
nmf_tran = NMF.transform(data_tran)

In [59]:
nmf_tran[0].argmax()

5

In [60]:
topic = nmf_tran.argmax(axis = 1)

In [62]:
topic[:10]

array([ 5, 16, 17, 11, 14,  1,  0, 10, 19, 17], dtype=int64)

In [64]:
data['Topic'] = topic
data.head()

                                            Question  Topic
0  What is the step by step guide to invest in sh...      5
1  What is the story of Kohinoor (Koh-i-Noor) Dia...     16
2  How can I increase the speed of my internet co...     17
3  Why am I mentally very lonely? How can I solve...     11
4  Which one dissolve in water quikly sugar, salt...     14

# Trying vector on Topic 11

In [132]:
word_list=pd.Series( ['money', 'modi', 'currency', 'economy', 'think', 'government', 'ban', 'banning', 'black', 'indian', 'rupee', 'rs', '1000', 'notes', '500'])

In [66]:
import spacy, nltk
import en_core_web_md

#nltk.download('vader_lexicon')
nlp = en_core_web_md.load()

In [67]:
from scipy import spatial

In [151]:
def exp(c):  
    return c.apply(lambda x : nlp.vocab[x].vector)


def vector_math(word):
    
    computed_similarities = []
    cosine_similarity = lambda x, y: 1 - spatial.distance.cosine(x, y)
    
    word_vec=exp(word)
    
    new_vec = sum(word_vec)
    for word in nlp.vocab:
    # Ignore words without vectors and mixed-case words:
        if word.has_vector:
            if word.is_lower:
                if word.is_alpha:
                    similarity = cosine_similarity(new_vec, word.vector)
                    computed_similarities.append((word, similarity))

    computed_similarities = sorted(computed_similarities, key=lambda item: -item[1])
    
    result = [w[0].text for w in computed_similarities[:10]]
    #print(result)
    return result

In [137]:
vector_math(word_list)

['moolah',
 'oney',
 'moeny',
 'money',
 'mone',
 'government',
 'dollor',
 'naira',
 'dollar',
 'bolivars']

In [152]:
topicword = []
for topic in NMF.components_[:3]:
    data_word =pd.Series([tv.get_feature_names()[i] for i in topic.argsort()[-50:]])
    print(data_word)
    topicword.append(vector_math(data_word))

0           games
1             seo
2            apps
3         service
4       beginners
5              ve
6       bangalore
7        websites
8           15000
9           study
10         course
11          songs
12       software
13      bollywood
14        digital
15          sites
16       download
17      institute
18     smartphone
19      marketing
20        company
21          delhi
22          watch
23         mobile
24       learning
25        android
26       coaching
27         online
28           free
29      hollywood
30            app
31    engineering
32         friend
33        website
34           site
35          thing
36           read
37          place
38          visit
39         places
40          phone
41            buy
42         laptop
43          movie
44           ways
45           2016
46          books
47           book
48         movies
49           best
dtype: object
0         actually
1            woman
2              com
3           iphone
4           energy
5          average
6            works
7         increase
8              guy
9             type
10            look
11           cause
12          google
13            hair
14             new
15           water
16       positions
17     departments
18         balance
19            word
20          matter
21        facebook
22            help
23          symbol
24          person
25             say
26           dream
27        distance
28            need
29          affect
30            come
31    relationship
32            says
33    universities
34           grads
35          majors
36         recruit
37             sex
38         looking
39          differ
40             use
41           exist
42          really
43         compare
44            cost
45            long
46            feel
47            work
48            mean
49            does
dtype: object
0         upvoted
1            earn
2          number
3         details
4         upvotes
5            come
6            blog
7       followers
8          asking
9           block
10        message
11           mark
12          doesn
13      anonymous
14         stupid
15          views
16           need
17      answering
18         change
19        instead
20        picture
21          using
22         topics
23          write
24            did
25        account
26      interview
27       googling
28        profile
29         follow
30          users
31         writer
32         marked
33         search
34            use
35            add
36       answered
37        needing
38           post
39         easily
40    improvement
41         delete
42          asked
43         google
44        answers
45         answer
46            ask
47       question
48      questions
49          quora
dtype: object

In [153]:
topicword

[['webmaster',
  'intranet',
  'web',
  'onine',
  'online',
  'onlines',
  'onlin',
  'intenet',
  'internet',
  'interent'],
 ['even',
  'because',
  'way',
  'what',
  'that',
  'but',
  'how',
  'could',
  'would',
  'there'],
 ['ask',
  'answer',
  'you',
  'sure',
  'if',
  'someone',
  'anyone',
  'want',
  'what',
  'tell']]